*{
  text-align: center;
}

input{
  color: blueviolet;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
}
button {
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  color: rgb(255, 0, 179);
}

ul{
  font-size: 30px;
 list-style: none;
  color: blueviolet;
  text-align: center;

}
